.tabs-ios {
    .tabbar{
        border-top:none;
        background-color:color($colors,mainColor);
        }
    .tab-button-icon{
        color:color($colors,dark);
        font-size:23px;
        margin:0px;
        height:$mainHeight;
        line-height:$mainHeight;
        }
     .tab-button{
         &[aria-selected=true]{
             .tab-button-icon{
                 color:#fff;
                }
            }
        .tab-badge{
            right:auto!important;
            left:50%!important;
            background-color:color($colors,secColor);
            }
        }
    } 