page-sign-up {
    .scroll-content,.fixed-content{
        margin-top:0px!important;
        }
    }
.signHead{
    width: $mainHeight;
    height:$mainHeight;
    top: $mainMarg;
    left: $mainMarg;
    .toolbar-ios{
        height:100%;
        padding:0px;
        .toolbar-background-ios{
            background:none;
            border:none;
            }
        .back-button-ios{
            width:100%;
            height:100%;
            color:color($colors,mainColor);
            }
        }
    }